
body {
    background-image: url(v904-nunny-019.jpg);
    background-blend-mode: soft-light;
}
h1 {text-align: center;
    
    margin: 0,auto;
    padding-top: 50;
   ;
 ;}

h4 {text-align: right;
    padding-right: 100;
    margin-top: 50;
    font-size: 30;
    font-weight: normal;
    font-style: normal;
    color:black ;

}
p {text-align: left;
margin: 0%auto;}
hr {align-items: center;
margin: 0,auto;}
div {text-align: left;}

h1 {font-size: 100;
font-family: Georgia, 'Times New Roman', Times, serif}

p {font-family:@import url('https://fonts.googleapis.com/css?family=Open+Sans');

    .opensans {
      font-family: "Open Sans", sans-serif;
    };}

h4 {font-family:@import url('https://fonts.googleapis.com/css?family=Open+Sans');

    .opensans {
      font-family: "Open Sans", sans-serif;
    };}

h3 { 
    text-align: center;
    padding-top: 70;
    margin-left: 460;

    text-align: justify;
    font-size: 30;
    color: black;
    
    
    

}

p{
        width: 500px;
    
        padding-bottom: 15;
     }
    
blockquote {
        width: 500px;
       
        margin: 0,auto;
     padding-bottom: 5;
     
     
    }

     a:link {
        color: coral;
        background-color: transparent;
        text-decoration: underline;
      }
      
      a:visited {
        color: pink;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:hover {
        color: black;
        background-color: transparent;
        text-decoration: underline;}

        blockquote {
            margin: 0 auto;
            border-radius: 5px;
            padding: 1em;
            border-left: 5px solid coral;
            background-color: FDF6F3;

    
        
          }
          blockquote:before {
            display: none;



         
    